#createProduct {
    width: 90%;
    margin: auto;
    padding-top: 55px;
}

#createProduct  button {
    margin-top: 15px;
}

#productImage {
    visibility: hidden;
}

#productImagePreview {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15px;
}


#profitMarginSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#profitMarginSection span {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profitMargin {
    width: 55px;
}

@media screen and (min-width: 600px) {
    #createProduct {
        width: 700px;
        margin: auto;
    }
    
    #createProduct  button {
        margin-top: 15px;
    }
    
    #profitMargin {
        width: 70px;
    }
}