.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: transparent;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 40%;
    left: 45%;
}

@media screen and (max-width: 1000px) {
    .loading-container {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}
